<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TOI India news</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
        <div class="jumbotron">
        <center><h1>TOI INDIA News Collections</h1></center>
            <a href="{{('/bbc')}}" class="btn btn-outline-info">Go to BBC India News</a>
        </div>
        <div class="card-columns" style="padding: 10px; margin: 20px">
            {% for toi in toi_news.values %}
            <div class="card" style="width: 18rem;border:5px black solid">
                <div class="card">
                    <a href="{{toi[1]}}" style="text-decoration:None">
                        <h5 class="card-title" style="text-align:center;color:black">{{toi[0]}}</h5>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
</body>
</html>